<header>
    <section>
      <nav>
      <a href="/"><img src="/Assets/1200px-YouTube_social_white_square_(2017).svg.png" alt="Pradeepa's Youtube Mini Logo/"></a>
      <div class="nav-links">
        <ul>
            <li class><a href="/">Search</a></li>
            <li><a href="/myfavourites">My Favourites</a></li>
            <li><a href="/playlist">Playlist</a></li>
        </ul>
    </div>
      </nav> 
      </section>
      </header>