<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/playlist.js" defer></script>
    </head>
    <body class="style2">
            <header class="style3">
                <img src="https://richardmiddleton.me/projects/youtube/images/logo.png" alt="" class="logo">
            </header>
        
            <section id="video">
        
            </section>
        
            <main class="style4">
        
            </main>
        
        </div>
        </div>
    </div>
</body>
</html>
